body {
  background-color: #152238;
}

/* Estilos para la tabla periódica */
.periodic-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
}

img {
  width: 100%;
  height: auto;
}

#cerrar{
  text-align: center;
  color: white;
  background-color: red;
  max-width: 15px;
  margin-left: 90%;
}

.element {
  color: white;
  border-style: solid;
  border-color: white;
  background-color: #152238;
  word-wrap: break-word;
  position: relative;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 0.7rem;
}

.element:hover {
  background-color: #1c2e4a;
}

.element .symbol {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Estilos para el cuadro de información */
#info-box{
  background-color: #23395d;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
  color: #ffff;
}

#info-box h2 {
  margin-top: 0;
}
